<% content_for :meta_title, "Landed | Welcome" %>

<div class="landing-page">
  <section class="pt-4 pt-lg-5">
    <div class="container landing-content">
      <div class="row">
        <div class="col-12 col-lg-7">
          <h1 class="landing-title mb-4">The relocation companion that moves with you.</h1>
          <p class="landing-subtitle mb-4">Sit back, relax. Let Landed do all the work.</p>

          <div class="d-flex flex-column flex-sm-row gap-3">
            <%= link_to "Get Started", new_user_registration_path, class: "onboarding-button landing-button" %>
          </div>
        </div>
          <%= image_tag "landing_image.png", class: "landing-image mt-5", alt: "People arriving in Germany by plane" %>
    </div>
  </section>
</div>
